<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin | E-Shopper</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="~/Content/Admin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <style>
        table.dataTable thead th, table.dataTable.no-footer {
            border-bottom: 0;
        }
    </style>
</head>
<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <a href="~/Content/Admin/index2.html" class="logo"><b>E-</b>Shopper</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/Admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                                <span class="hidden-xs">Admin</span>
                            </a>
                            <ul class="dropdown-menu" style="width: 200px">
                                <!-- User image -->
                                <li class="user-header" style="height:initial">
                                    <img src="~/Content/Admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/Admin/ManageAdmin/Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/Admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Admin</p>
                        <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="/Admin/Dashboard">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)">
                            <i class="fa fa-navicon"></i> <span>Products</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/ManageCategory"><i class="fa fa-circle-o"></i>Product Category</a></li>
                            <li><a href="/Admin/ManageSubCategory"><i class="fa fa-circle-o"></i>Product SubCategory</a></li>
                            <li><a href="/Admin/ManageProduct"><i class="fa fa-circle-o"></i>Product List</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)">
                            <i class="fa fa-newspaper-o"></i> <span>Invoice</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/ManageInvoice"><i class="fa fa-circle-o"></i>All Invoice</a></li>
                            <li><a href="/Admin/ManageInvoice/PlacedOrder"><i class="fa fa-circle-o"></i>In Order Invoice</a></li>
                            <li><a href="/Admin/ManageInvoice/OnDelivery"><i class="fa fa-circle-o"></i>On Deivery Invoice</a></li>
                            <li><a href="/Admin/ManageInvoice/Delivered"><i class="fa fa-circle-o"></i>Delivered Invoice</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)">
                            <i class="fa fa-user"></i> <span>Member</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/ManageMember"><i class="fa fa-circle-o"></i>All Members</a></li>
                            <li><a href="/Admin/ManageMember/Premium"><i class="fa fa-circle-o"></i>Premium Members</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Admin/ManageMessage">
                            <i class="fa fa-envelope"></i> <span>Message</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0)">
                            <i class="fa fa-cogs"></i> <span>Setting</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/ManageAdmin"><i class="fa fa-circle-o"></i>Admins</a></li>
                            <li><a href="/Admin/ManageAdmin/EditProfile"><i class="fa fa-circle-o"></i>Edit Profile</a></li>
                            <li><a href="/Admin/ManageAdmin/ChangePassword"><i class="fa fa-circle-o"></i>Change Password</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a href="javascript:void(0)">Ayesha Aziz Jahra</a>.</strong> All rights reserved.
        </footer>
    </div>
    <script src="~/Content/Admin/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script src="~/Content/Admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
    <script src="~/Content/Admin/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="~/Content/Admin/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
    <script src="~/Content/Admin/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="~/Content/Admin/plugins/colorpicker/bootstrap-colorpicker.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/plugins/timepicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src='~/Content/Admin/plugins/fastclick/fastclick.min.js'></script>
    <script src="~/Content/Admin/dist/js/app.min.js" type="text/javascript"></script>
    <script src="~/Content/Admin/dist/js/demo.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
</body>
</html>
