@using ECommerce.Web.Models
@{
    ViewBag.Title = "_Category";
    var cats = CategoryList.GetAllCategory().OrderBy(x=> x.CategoryName);
}

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
        @foreach (var item in cats)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#cat_@item.CategoryID">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @item.CategoryName
                        </a>
                    </h4>
                </div>
                <div id="cat_@item.CategoryID" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>

                            @foreach (var sub in item.SubCategory)
                            {
                                <li><a href="/Product/Index?sub=@sub.SubCategoryID">@sub.SubCategoryName</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        </div><!--/category-products-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="~/Content/images/home/shipping.jpg" alt="" />
        </div><!--/shipping-->

    </div>
</div>

