<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | E-Shopper</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/price-range.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="javascript:void(0)"><i class="fa fa-phone"></i> +88 01717 123 456</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/Content/images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="/Profile/Index"><i class="fa fa-user"></i> Account</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="/Shop/Details"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                @if (HttpContext.Current.Session["Username"] != null)
                                {
                                    <li><a href="/Profile/Logout"><i class="fa fa-lock"></i> Log Out</a></li>
                                }
                                else
                                {
                                    <li><a href="/Profile/Login"><i class="fa fa-lock"></i> Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/home" id="home">Home</a></li>
                                <li><a href="/Product" id="product">Products</a></li>
                                <li><a href="/Home/About" id="about">About</a></li>
                                <li><a href="/Home/contact" id="contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    
    @RenderBody()
    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>E</span>-Shopper</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="javascript:void(0)">
                                    <div class="iframe-img">
                                        <img src="~/Content/images/home/iframe1.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="javascript:void(0)">
                                    <div class="iframe-img">
                                        <img src="~/Content/images/home/iframe2.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="javascript:void(0)">
                                    <div class="iframe-img">
                                        <img src="~/Content/images/home/iframe3.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="javascript:void(0)">
                                    <div class="iframe-img">
                                        <img src="~/Content/images/home/iframe4.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="~/Content/images/home/map.png" alt="" />
                            <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="javascript:void(0)">Online Help</a></li>
                                <li><a href="javascript:void(0)">Contact Us</a></li>
                                <li><a href="javascript:void(0)">Order Status</a></li>
                                <li><a href="javascript:void(0)">Change Location</a></li>
                                <li><a href="javascript:void(0)">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quock Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="javascript:void(0)">T-Shirt</a></li>
                                <li><a href="javascript:void(0)">Mens</a></li>
                                <li><a href="javascript:void(0)">Womens</a></li>
                                <li><a href="javascript:void(0)">Gift Cards</a></li>
                                <li><a href="javascript:void(0)">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="javascript:void(0)">Terms of Use</a></li>
                                <li><a href="javascript:void(0)">Privecy Policy</a></li>
                                <li><a href="javascript:void(0)">Refund Policy</a></li>
                                <li><a href="javascript:void(0)">Billing System</a></li>
                                <li><a href="javascript:void(0)">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About BCD</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/Home/About">Company Information</a></li>
                                <li><a href="/Home/About">Careers</a></li>
                                <li><a href="/Home/About">Store Location</a></li>
                                <li><a href="/Home/About">Affillate Program</a></li>
                                <li><a href="/Home/About">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Get the most recent updates from <br />our site and be updated your self...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->


    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/price-range.js"></script>
    <script src="~/Content/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    @if (System.Web.HttpContext.Current.Session["Notify"] != null && System.Web.HttpContext.Current.Session["Type"] != null)
    {
        <script>
            $.notify('@System.Web.HttpContext.Current.Session["Notify"]', '@System.Web.HttpContext.Current.Session["Type"]')
        </script>
        System.Web.HttpContext.Current.Session["Notify"] = null;
        System.Web.HttpContext.Current.Session["Type"] = null;
    }
    <script>
        $(document).ready(function () {
            $('#@ViewBag.Page').addClass('active');
        });

        function preAddToCart(id) {
            var count = $('#quantity').val();
            AddToCart(count, id);
        }

        function AddToCart(count, id) {
            $.ajax({
                url: "/Shop/AddToCart",
                data: { id: id, count: count },
                type: 'post',
                success: function () {
                    $.notify('Product added to cart', 'success');
                }
            });
        }

        function RemoveItem(i) {
            $('#tr-' + i).remove();
            CalculateCart();
        }

        function CalculateCart() {
            var gTotal = 0;
            $(".srl").each(function () {
                var srl = $(this).val();
                var price = $('#price-' + srl).val();
                var quantity = $('#quantity-' + srl).val();
                var total = price * quantity;
                $('#total-' + srl).text('$' + total);
                gTotal += parseInt(total);
            });
            $('#gTotal').text('$' + gTotal);
            $('#sTotal').text('$' + gTotal);
        }

        function ChangeCount(c, i) {
            var quantity = $('#quantity-' + i).val();
            $('#quantity-' + i).val(parseInt(quantity) + parseInt(c));
            CalculateCart()
        }
    </script>
</body>
</html>