@{
    ViewBag.Title = "About";
    ViewBag.Page = "about";
}

<style>
    .margin-bottom-20 {
    margin-bottom: 20px
    }
</style>

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12 margin-bottom-20">
                <h2 class="title text-center">Company Information</h2>

                <p class="contact-info">
                    Lorem ipsum dolor sit amet, sed simul tibique omittam ad, aliquid volumus intellegam ne sit. Et eos tota nemore definitiones, eros possim eruditi te eos. Cu dicant vocibus complectitur est, regione laboramus ex cum. Te ius deserunt partiendo, commodo fabellas quo ex.
                </p>
                <p class="contact-info">
                    Eam vidisse euripidis et, mazim omnesque qui in. Ea corpora repudiare aliquando nec. Cum in tritani detraxit, in quo purto choro consetetur. Sea sanctus legendos concludaturque ex, errem repudiandae at ius. Appareat ponderum eum eu, libris appetere consequat qui ut.
                </p>
            </div>

            <div class="col-sm-12 margin-bottom-20">
                <h2 class="title text-center">Careers</h2>

                <p class="contact-info">
                    Lorem ipsum dolor sit amet, sed simul tibique omittam ad, aliquid volumus intellegam ne sit. Et eos tota nemore definitiones, eros possim eruditi te eos. Cu dicant vocibus complectitur est, regione laboramus ex cum. Te ius deserunt partiendo, commodo fabellas quo ex.
                </p>
                <p class="contact-info">
                    Eam vidisse euripidis et, mazim omnesque qui in. Ea corpora repudiare aliquando nec. Cum in tritani detraxit, in quo purto choro consetetur. Sea sanctus legendos concludaturque ex, errem repudiandae at ius. Appareat ponderum eum eu, libris appetere consequat qui ut.
                </p>
            </div>

            <div class="col-sm-12 margin-bottom-20">
                <h2 class="title text-center">Affillate Program</h2>

                <p class="contact-info">
                    Lorem ipsum dolor sit amet, sed simul tibique omittam ad, aliquid volumus intellegam ne sit. Et eos tota nemore definitiones, eros possim eruditi te eos. Cu dicant vocibus complectitur est, regione laboramus ex cum. Te ius deserunt partiendo, commodo fabellas quo ex.
                </p>
                <p class="contact-info">
                    Eam vidisse euripidis et, mazim omnesque qui in. Ea corpora repudiare aliquando nec. Cum in tritani detraxit, in quo purto choro consetetur. Sea sanctus legendos concludaturque ex, errem repudiandae at ius. Appareat ponderum eum eu, libris appetere consequat qui ut.
                </p>
            </div>

            <div class="col-sm-12 margin-bottom-20">
                <h2 class="title text-center">Copyright</h2>

                <p class="contact-info">
                    Lorem ipsum dolor sit amet, sed simul tibique omittam ad, aliquid volumus intellegam ne sit. Et eos tota nemore definitiones, eros possim eruditi te eos. Cu dicant vocibus complectitur est, regione laboramus ex cum. Te ius deserunt partiendo, commodo fabellas quo ex.
                </p>
            </div>
        </div>
    </div>
</div><!--/#contact-page-->
